<div id="deliverables">
  <h3>Deliverables</h3>
  <div class="show-grid">
    <div class="input-group">
        <input type="text" ng-model="search" placeholder="Filter by name or type" ng-change="filterPage()" class="form-control" aria-describedby="strict-addon">
        <span class="input-group-addon" id="strict-addon">
            <input type="hidden" ng-model="strict"> Filter
        </span>
    </div>
  </div>
  <table class="table table-condensed table-striped" ng-show="!!files.length">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Date</th>
      <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="f in files">
      <td>{{ f.name }}</td>
      <td>{{ f.type }}</td>
      <td>{{ f.created | date: 'dd-MM-yyyy'}}</td>
      <td class="text-right">
        <a class="btn btn-default" title="Download {{ f.name }}"
          href="{{webServiceUrl}}/files/{{f.id}}">
          <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <uib-pagination total-items="totalItems" ng-change="pageChanged()"
                  ng-show="!!files.length"
                  ng-model="currentPage" items-per-page="20"
                  force-ellipses="true" max-size="20"
                  class="pagination-sm" boundary-links="true" rotate="false">
  </uib-pagination>
</div>
